@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	color: #333;
	background-color: #fff;
	color: #333;
}

.search{
    width: 400px;
    padding-top: 10px;
}
#linktxt{
    width:360px;
}