.mycontent {
    text-shadow: 0 1px 3px #222;
    background: #202021 url(/images/octicons-bg.png) center repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    margin-top: -20px;
}
#content-c h1{
    color:#fff;
    font-size: 70px;
    box-sizing: border-box;
}
#content-c form{
    box-sizing: border-box;
    float:right;
    width:320px;
    margin-left: 40px;
}
#content-c form input{
    padding: 22px;
}
#region{
    padding: 12px;
}
.text-muted{
    color: #767676;
}
.form-group{
    margin-bottom: 10px;
}