#container-main{
    margin-top: -10px;
}
.wei-col-lg-3 {
    padding-left: 0;
}

.wei-col-lg-9 {
    padding-left: 0;
}

.zw-glyphicon {
    float: right;
}

#input-group-main-1 {
    margin: 20px 0;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color: #4183c4;
    background-color: #fff;
    border-color: #ddd;
}

a.list-group-item:link {
    color: #4183c4;
    text-decoration: none;
}

a.list-group-item:visited {
    color: #4183c4;
    text-decoration: none;
}

a.list-group-item:hover {
    text-decoration: underline;
    color: #4183c4;
    background-color: #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: 2px solid #d26911;
}

.zwinput {
    margin-left: 10px;
    font-size: 12px;
    height: 26px;
    width: 90%;
    border-radius: 12px;
}

.popover-content {
    padding: 0;
}

.popover {
    width: 300px;
}

.arrow {
}

.show-nav-list {
    display: none;
}

.showlinktable {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#link-head {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    border-bottom: none;
    background: #e6f1f6;
    text-align: right;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.link-head-left {
    float: left;
}

.link-head-right {
}
.searchbtn{
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
 }

.searchbtn:focus{
    outline: 0;
}

.searchbtn:hover{
    border-color: #adadad;
}

#showlink {
    display: inline-block;
    background: #f9f9f9;
    border-top: none;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    width: 100%;
    height: 100%;
}

#showlink ul li {
    float: left;
}

#showlink ul li div {
    display: block;
    width: 205px;
    /* height: 30px; */
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    background: #fff;
}

#showlink ul li div a {

    text-decoration: none;
}

.showlinktable tr td {
    padding: 5px;
    border: 1px solid #ddd;
}

.showlinktable tr td a {
    font-size: 14px;
}

.link-tools {
    height: 30px;
}

.myul {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 0;
}

.myul li {
    float: left;
    display: block;
}

.tool {
    padding: 0 15px;
}

.leftcontent {
    margin-top: 20px;
}

.octicon-edit {
    width: 27px;
}

.list-group-item {
    padding: 5px 15px;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.treeview-head {
    /*height: 100px;*/
    border: 1px solid #ddd;
    background: #f9f9f9;
    font-weight: bold;
    border-bottom: none;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
}

.link-head{
    border: 1px solid #ddd;
    background: #f9f9f9;
    font-weight: bold;
    border-bottom: none;
    padding: 4px 10px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
}

.treeview-head-icon {
    padding: 0 10px;
}

.treeview-head-right {
    float: right;
}

.treeview-head-right a{
    color:#000;
}

.treeview-head-right a:hover{
    text-decoration: none;
    color:#4078c0;
}

.treeview-head-icon-right {
    line-height: 1.42857;
    font-size: 16px;
    padding-right: 10px;
}

.input-group {
}

.btn-search{
    padding: 5px 0;
}

.link-head-span{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.modal-body{
    min-height: 480px;
    font-size: 14px;
    padding: 1px;
    margin: -1px;
}
.tooltip{
    padding: 100px;
}